.user-info {
  height: 100%;
  float: right;
  margin: 0 0.5rem;
  cursor: pointer;
  &--name {
    margin: 0 0.3rem;
  }
}

.ant-avatar {
  height: 100%;
  width: 2.6rem;
}

.button-import {
  height: 40px;
  padding: 0.5rem;
}
