.schedule {
  h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
  }

  .student-info {
    margin-bottom: 0.5rem;
  }

  .download-button {
    margin-top: 0.5rem;
    .anticon {
      margin-right: 0.5rem;
    }
  }
}
