// Dark Background color
$--bg-dark-color: #eeeeee;
// Background color
$--bg-color: #ffffff;
// Auto-complete color
$--atc-color: #ebebeb;
// Text color
$--fg-color: #525252;
// Light Text color
$--fg-light-color: rgb(150, 155, 160);
// Border color
$--brd-color: #eeeeed;
// Error color
$--err-color: #eeeeee;
// Acent color
$--ac-color: #57b5f9;
$--ac-sel-color: #57b5f9;
// Active text color
$--act-color: #ffffff;
