apiVersion: apps/v1
kind: Deployment
metadata:
    name: exam-reg-webapp
spec:
    selector:
        matchLabels:
            app: exam-reg-webapp
    template:
        metadata:
            labels:
                app: exam-reg-webapp
        spec:
            containers:
                - name: exam-reg-webapp
                  image: hughdo/examreg-idfsg-fe:GITHUB_SHA
                  ports:
                      - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
    name: exam-reg-svc
spec:
    selector:
        app: exam-reg-webapp
    ports:
        - port: 80
          targetPort: 3000
    type: ClusterIP
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
    name: examreg-webapp-ingress
    annotations:
        kubernetes.io/ingress.class: nginx
        cert-manager.io/cluster-issuer: letsencrypt-prod
        nginx.ingress.kubernetes.io/rewrite-target: /
spec:
    tls:
        - hosts:
              - examreg.hughdo.dev
          secretName: examreg-webapp-tls
    rules:
        - host: examreg.hughdo.dev
          http:
              paths:
                  - path: /
                    backend:
                        serviceName: exam-reg-svc
                        servicePort: 80
