name: Hello World
on:
  push:
    branches:
      - feature/github_actions_docker
jobs:
  publish:
    name: Publish image
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        run: docker login -u ${{secrets.DOCKER_USERNAME }} -p ${{secrets. DOCKER_PASSWORD	}}
