name: Hello World
on:
  push:
    branches:
      - feature/github_actions_docker
jobs:
  publish:
    name: Publish image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - name: Set up Node
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: Install packages & build
        run: |
          npm install
          npm run build
      - name: Check build folder
        run: ls -la
      - name: Deploy
        run: docker login -u ${{secrets.DOCKER_USERNAME }} -p ${{secrets. DOCKER_PASSWORD	}}
